Piece-joint temporaire/Make/2025 Affilie_mail_pre_paiement.blueprint.json
{
    "name": "2025 Affilie_mail_pre_paiement",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1592462,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "form_post_paiement"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "type",
                        "type": "text"
                    },
                    {
                        "name": "source",
                        "type": "text"
                    },
                    {
                        "name": "transaction_id",
                        "type": "text"
                    },
                    {
                        "name": "ref",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "referer",
                        "type": "text"
                    },
                    {
                        "name": "timestamp",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "supabase:createARow",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5926029
            },
            "mapper": {
                "ref": "{{1.ref}}",
                "email": "{{1.email}}",
                "table": "BACKUP affilie_pre_inscription",
                "created_at": "{{1.timestamp}}",
                "transaction_id": "{{1.transaction_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 315,
                    "y": -2
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "BACKUP affilie_pre_inscription",
                            "nested": [
                                {
                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                    "name": "id",
                                    "type": "text",
                                    "label": "id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "transaction_id",
                                    "type": "text",
                                    "label": "transaction_id",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "email",
                                    "type": "text",
                                    "label": "email",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to 0. ",
                                    "name": "ref",
                                    "type": "text",
                                    "label": "ref",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to now(). ",
                                    "name": "created_at",
                                    "type": "text",
                                    "label": "created_at",
                                    "options": null,
                                    "required": false
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "RabaisLocal Supabase"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text"
                    },
                    {
                        "name": "transaction_id",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "ref",
                        "type": "text"
                    },
                    {
                        "name": "created_at",
                        "type": "text"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "id"
                    },
                    {
                        "name": "transaction_id",
                        "type": "text",
                        "label": "transaction_id"
                    },
                    {
                        "name": "email",
                        "type": "text",
                        "label": "email"
                    },
                    {
                        "name": "ref",
                        "type": "text",
                        "label": "ref"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 2792085,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": [
                    "preinscription@rabaislocal.com"
                ],
                "bcc": [],
                "from": "",
                "html": "Voici les infos \nType : {{1.type}}\nSource : {{1.source}}\nId transaction : {{1.transaction_id}}\nReference : {{1.ref}}{{1.referer}}\nMail : {{1.email}}\nDate : {{1.referer}}\n{{1.timestamp}}\n\n\n",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "Pré-inscription",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 615,
                    "y": -2
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "smtp"
                            },
                            "label": "likuid (SMTP envoi-form@rabaislocal.com)"
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}